body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black; 
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
  color: white;
}

nav {
  padding: 1rem;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  color: #ff9d00;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.25rem;
  padding: 0;
}

.image-card {
  margin: 0;
  flex: 0 1 auto;
  max-width: calc(25% - 0.25rem);
}

.image-card img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 300px;
  display: block;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  width: 40px;
  height: 40px;
  margin: 1rem auto;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.close-button:hover {
  background-color: white;
  color: black;
  border-color: black;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
